{% extends "layout.html" %}

{% block body %}
    <div class="container">
    <h1 class="welcome text-center"> good luck with marks ;) </h1>
        <div class="card card-container">
        <h2 class='login_title text-center'">Login</h2>
        <hr>
            <form class="form-signin" method="post" name="login">
                {{form.hidden_tag()}} 
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title" >Email</p>
                {{form.login(class="login_box", placeholder="user01@mail.ru")}}
                <p class="input_title">Password</p>
                {{ form.password(class="login_box", placeholder="*******") }}
                <button class="btn btn-lg btn-primary" type="submit">Login</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}